<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/add.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card" style="width: 38rem; border: 1px solid #e5e5e5;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body" style="margin-left: 12px ;">
              <h5 class="card-title">Ajouter un produit</h5>
              <form method="post" action="" enctype="multipart/form-data">
                <input type="file" name="img_product" id="" /><br>
                <input type="text" name="name" placeholder="Nom du produit" width="320px" /><br><br>
                <input type="number" name="montant_product" placeholder="Montant du produit" width="320px" /><br><br>
                <input type="submit" name="add" class="btn btn-primary" value="Ajouter" />
              </form>
            </div>
          </div>

    </div>
</body>
</html>